{% extends 'base.html.twig' %}

{% block title %}Mon panier - Emidress{% endblock %}

{% block body %}
    <div class="container">
        {% if cart|length > 0 %}
        <h1 class="text-center mt-3">Mon panier</h1>
        <p class="text-center mt-3">Retrouvez votre panier avec tous les produits que vous avez ajoutés dedans</p>
        <hr>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="table-info">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {#On initialise une variable total#}
                    {% set total = null %}
                    {% for product in cart %}
                        <tr>
                            <td>
                                <img src="/image/{{ product.product.image }}" alt="{{ product.product.name }}" height="75px">
                            </td>
                            <td>
                                {{ product.product.name }}<br>
                                <small>{{ product.product.subtitle }}</small>
                            </td>
                            <td>
                                <a href="{{ path('decrease_my_product', {'id': product.product.id}) }}"><img src="{{ asset('assets/img/minus-sign.png') }}" alt="retirer une quantité à mon produit" style="height: 13px;"></a>
                                    x {{ product.quantity }}
                                <a href="{{ path('add_to_cart', {'id': product.product.id}) }}"><img src="{{ asset('assets/img/plus.png') }}" alt="Ajouter une quantité à mon produit" style="height: 13px;"></a>
                            </td>
                            <td>{{ (product.product.prix / 100) | number_format(2, ',' , '.')}} €</td>
                            <td>{{ (product.quantity * product.product.prix / 100) | number_format(2, ',' , '.')}} €</td>
                            <td>
                                <a href="{{ path('delete_my_product', {'id' : product.product.id}) }}">
                                    <img src="{{ asset('assets/img/delete.png') }}" alt="supprimer le produit du panier" style="height: 15px;">
                                </a>
                            </td>
                        </tr>
                    {#On incrémente la variable total a chaque passage de la boucle#}
                        {% set total = total +  (product.quantity * product.product.prix) %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-end mb-5">
                    <b>Nombre de produits :</b> {{ cart| length }} <br>
                    <b> Total de mon panier: </b>{{ (total / 100) | number_format(2, ',' , '.')}} €<br>
                    <a href="{{ path('app_order') }}" class="btn btn-info mt-3"> Valider mon panier </a>
                </div>
            </div>
        </div>
        {% else %}
            <b><p class="text-center mt-4">Votre panier est vide</p></b>
        {% endif %}
    </div>
{% endblock %}
