{% extends 'base.html.twig' %}

{% block title %}Modifier une adresse - Emidress{% endblock %}

{% block body %}

    <div class="container">
        <a href="{{path('app_address')}}" class="mt-3 m-auto text-left" style="display: block"> Retourner à mes adresses</a>
        <h1 class="text-center mt-3">Modifier une adresse</h1>
        <div class="mt-5 text-center">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
