{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Emidress{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{path('app_account')}}" class="mt-3 m-auto text-left" style="display: block"><- Retourner à mon compte</a>
        <h1 class="text-center mt-3">Mes Adresses</h1>
        <p class="text-center mt-3">C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses</p>
        <div class="text-end">
            <a href="{{ path('app_address_add') }}" class="btn btn-info btn-sm">Ajouter une adresse</a>
        </div>
        <hr>
        {% if  app.user.addresses|length < 1%}
            <b><p class="text-center mt-3">Vous n'avez pas paramétré d'adresses, veuillez ajouter une adresse afin de pouvoir passer une commande</p></b>
        {% else %}
            <div class="row">
                {% for address in app.user.addresses %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{address.name }}</h5>
                                <p class="card-text">
                                    {{ address.street}} <br>
                                    {{ address.postal}} - {{ address.city }} - {{ address.country}}
                                </p>
                                <a href="{{ path('app_address_edit', {'id' : address.id}) }}">Modifier</a> | <a id="supprAdresse" href="{{ path('app_address_delete', {'id' : address.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
               {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    {# -------   JAVASCRIPT ---------#}
    <script src="{{ asset('assets/js/adresse.js') }}"> </script>
{% endblock %}
