{% extends 'base.html.twig' %}

{% block title %}Mes Rendez-vous - Emidress{% endblock %}

{% block body %}
    <div class="container p-5">
        <a href="{{ path('app_account') }}"> <- Retour à mon compte </a>
        <h2 class="text-center mt-3"> Mes rendez-vous </h2>
        <p class="text-center mt-3">
            C'est ici que vous aller gérer tous vos rendez-vous
        </p>
        <hr>
        {% if appointements|length == 0 %}
            <p class="text-center mt-3"> Vous n'avez pas encore pris de rendez-vous</p>
        {% else %}
            <table class="table mt-3">
                <thead class="table-info">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Heure de début</th>
                    <th scope="col">Heure de fin</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for appointement in appointements %}
                    <tr>
                        <td><span class="badge bg-secondary">{{ appointement.date|date('d/m/Y') }}</span></td>
                        <td>{{ appointement.startTime}}</td>
                        <td>{{ appointement.endTime}}</td>
                        {% set currentlyDate =  "now"|date("d/m/Y")  %}
                        {% set appointmentDate =  appointement.date|date('d/m/Y')  %}
                        {% if currentlyDate < appointmentDate %}
                            <td><a id="annulerRdv" href="{{ path('app_account_appointement_delete', {'id': appointement.id}) }}" class="btn btn-danger btn-sm text-right">Annuler mon rendez-vous</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}
{% block script %}
    {# -------   JAVASCRIPT ---------#}
    <script src="{{ asset('assets/js/rdv.js') }}"> </script>
{% endblock %}
