{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Emidress{% endblock %}

{% block body %}
    <h1 class="mt-3 text-center"> Modifier mon mot de passe </h1>
    <a href="{{path('app_account')}}" class="mt-3 text-center m-auto" style="display: block"> Retourner à mon compte</a>
    <div class="container">
        <hr>
            <div class="text-center">
                {% if notif %}
                    <div class="alert alert-info">
                        {{ notif }}
                    </div>
                {% endif %}
                {{ form(form)}}
            </div>
        <hr>
    </div>
    
{% endblock %}
