{% extends 'base.html.twig' %}

{% block title %}Mon compte - Emidress{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3 text-center"> Mon compte </h1>
        <p class="mt-3 text-center">Bonjour {{app.user.firstname}}, bienvenue sur ton espace personnel, c'est ici que tu pourras gérer ton compte</p>
        <div class="row mt-5">
                <div class="col-12 col-lg-6 text-center">
                    <a href="{{path('app_account_change_password')}}" class="account_link">
                        <div class="card text-bg-light border-info mb-3 card-count" style="min-height: 30vh">
                            <div class="card-header"><h5>Modifier mon mot de passe</h5></div>
                            <div class="card-body">
                                <i class="fa-solid fa-lock"></i>
                                <p class="card-text">C'est ici que vous pourrez modifier votre mot de passe</p>
                            </div>
                        </div>
                    </a>
                </div>

            <div class="col-12 col-lg-6 text-center">
                <a href="{{ path('app_address') }}" class="account_link">
                    <div class="card text-bg-light mb-3 border-info card-count" style="min-height: 30vh">
                        <div class="card-header"><h5>Mes adresses</h5></div>
                        <div class="card-body">
                            <i class="fa-solid fa-address-book"></i>
                            <p class="card-text">C'est dans cet espace que vous pourrez gérer vos adresses</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-6 text-center">
                <a href="{{ path('app_account_order') }}" class="account_link">
                <div class="card text-bg-light mb-3 border-info card-count" style="min-height: 30vh">
                    <div class="card-header"><h5>Mes Commandes</h5></div>
                    <div class="card-body">
                        <i class="fa-regular fa-folder-open"></i>
                        <p class="card-text">C'est dans cet espace que vousz pourrez gérer vos commandes</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <a href="{{ path('app_account_appointement') }}" class="account_link">
                <div class="card text-bg-light mb-3 border-info card-count" style="min-height: 30vh">
                    <div class="card-header"><h5>Mes rendez-vous</h5></div>
                    <div class="card-body">
                        <i class="fa-solid fa-calendar-check"></i>
                        <p class="card-text">C'est ici que vous pourrez gérer vos rendez-vous</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{# -------   JAVASCRIPT ---------#}
<script src="{{ asset('assets/js/account.js') }}"> </script>
{% endblock %}
