{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Emidress{% endblock %}

{% block body %}
    <div class="container p-5">
        <a href="{{ path('app_account') }}"> <- Retour à mon compte </a>
        <h2 class="text-center mt-3"> Mes commandes </h2>
        <p class="text-center mt-3">
            C'est ici que vous aller gérer toutes vos commandes
        </p>
        <hr>
        {% if orders|length == 0 %}
            <p class="text-center mt-3"> Vous n'avez pas encore passé de commandes dans notre boutique</p>
            {% else %}
        <table class="table mt-3">
            <thead class="table-info">
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Statut</th>
                <th scope="col">Passé le</th>
                <th scope="col">Produit(s)</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td><span class="badge bg-secondary">{{ order.reference }}</span></td>
                <td>
                    {% if order.state == 1 %}
                        Paiement accepté
                    {% elseif order.state == 2 %}
                        Préparation en cours
                    {% elseif order.state == 3 %}
                        Livraison en cours
                    {% endif %}
                </td>
                <td>{{ order.createdAt|date('d/m/Y')}}</td>
                <td>{{ order.orderDetails|length }}</td>
                <td>{{ ((order.getTotal + order.carrier.price) /100)|number_format(2,',','.') }} €</td>
                <td><a href="{{ path('app_account_order_show', {'reference' : order.reference}) }}" class="btn btn-info btn-sm text-right">Voir</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
