{% extends 'base.html.twig' %}

{% block title %}Ma commande {{ order.reference }} - Emidress{% endblock %}

{% block body %}
    <div class="container p-5">
        <h1> Ma commande {{ order.reference }}</h1>

        <a href="{{ path ('app_account_order')}}"> <- Retour à mes commandes</a>
        <hr><strong></strong>
        <div class="text-center">
            <strong>Statut de la commande</strong>
            {% if order.state == 1 %}
                Paiement accepté
            {% elseif order.state == 2 %}
                Préparation en cours
            {% elseif order.state == 3 %}
                Livraison en cours
            {% endif %}
            <br>
            <strong> Commande passée le :</strong>{{order.createdAt | date('d/m/Y')}} <br>
            <strong> Référence de ma commande :</strong> <small>{{ order.reference }}</small> <br>
            <strong> Transporteur choisi: </strong> {{ order.carrier.name}}
        </div>
        <hr>
        <strong> Détails </strong>

        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td> {{ product.product.name }}</td>
                    <td>x {{ product.quantity}}</td>
                    <td>{{(product.price / 100) |number_format (2, ',', '.')}} €</td>
                    <td>{{(product.total / 100) |number_format (2, ',', '.')}} €</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="text-end">
            <strong> Sous-total :</strong> {{(order.getTotal / 100) |number_format (2, ',', '.')}} € <br>
            <strong> Livraison : </strong> {{(order.carrier.price / 100) |number_format (2, ',', '.')}} € <br>
            <strong> Total : </strong> {{((order.carrier.price + order.getTotal)  / 100) |number_format (2, ',', '.')}} €

        </div>

    </div>
{% endblock %}
