{% extends 'base.html.twig' %}

{% block title %}Se Connecter - Emidress{% endblock %}

{% block body %}
<form method="post" class="w-50 text-center m-auto mt-3 p-3">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Adresse Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mt-3">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    
    <button class="btn btn-sm btn-info mt-3 mb-3" type="submit">
        Se Connecter
    </button>
    <br>
    <a href="{{ path('app_reset_password') }}" style="text-decoration:none;color:black;">Mot de passe oublié ?</a><br>
    <a href="{{ path('app_register') }}">Créer un compte</a>
    
</form>
{% endblock %}
