{% extends 'base.html.twig' %}

{% block title %}Emidress - Page d'accueil{% endblock %}

{% block body %}

<!--############# Carousel ###############-->
    {% for message in app.flashes('message') %}
        <div class="alert alert-info w-50 m-auto text-center">
            {{ message }}
        </div>
    {% endfor %}

 <div id="carouselExampleControls" class="carousel slide  m-auto container w-75" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset ('assets/img/ao-dai-gb7046f31a_1920.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ asset ('assets/img/robe-mariage.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ asset ('assets/img/woman-gfb9d8fa99_1920.jpg')}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--############# HomePage ###############-->
<div class="row mt-4 p-5 container-fluid">
<!--############# Meteo ###############-->
    <div class="col-12 col-lg-4 p-4">
        <h3 class="text-center">Votre météo du jour</h3>
        <div id="meteo" class="row p-3">
            <div class="col-12">
                <div class="text-center">
                    <strong>{{ datasDreux.city.name }} </strong><br>
                    {{ datasDreux.update|date('d/m/Y') }} <br>
                    {% if  datasDreux.forecast[0].weather == 0%}
                        <img src="/assets/img/animated/day.svg" alt="day.svg">
                        {% elseif datasDreux.forecast[0].weather > 0 and datasDreux.forecast[0].weather < 8%}
                            <img src="/assets/img/animated/cloudy-day-2.svg" alt="day2.svg">
                        {% elseif datasDreux.forecast[0].weather >= 8 and datasDreux.forecast[0].weather < 16%}
                            <img src="/assets/img/animated/rainy-2.svg" alt="rainy2.svg">
                        {% elseif datasDreux.forecast[0].weather >= 16 and datasDreux.forecast[0].weather < 32%}
                            <img src="/assets/img/animated/snowy-2.svg" alt="snowy2.svg">
                        {% elseif datasDreux.forecast[0].weather >= 39 and datasDreux.forecast[0].weather < 49%}
                            <img src="/assets/img/animated/rainy-5.svg" alt="rainy5.svg">
                        {% elseif datasDreux.forecast[0].weather >= 139 and datasDreux.forecast[0].weather < 213%}
                            <img src="/assets/img/animated/rainy-7.svg" alt="rainy7.svg">
                    {% endif %} <br>
                    <small>Température min: {{ datasDreux.forecast[0].tmin }} ° / Température max: {{ datasDreux.forecast[0].tmax }} °</small>
                </div>
                <div class="text-center mt-3">
                    <strong>{{ datasChartres.city.name }} </strong><br>
                    {{ datasChartres.update|date('d/m/Y') }} <br>
                    {% if  datasChartres.forecast[0].weather == 0%}
                        <img src="/assets/img/animated/day.svg" alt="day.svg">
                    {% elseif datasChartres.forecast[0].weather > 0 and datasChartres.forecast[0].weather < 8%}
                        <img src="/assets/img/animated/cloudy-day-2.svg" alt="day2.svg">
                    {% elseif datasChartres.forecast[0].weather >= 8 and datasChartres.forecast[0].weather < 16%}
                        <img src="/assets/img/animated/rainy-2.svg" alt="rainy2.svg">
                    {% elseif datasChartres.forecast[0].weather >= 16 and datasChartres.forecast[0].weather < 32%}
                        <img src="/assets/img/animated/snowy-2.svg" alt="snowy2.svg">
                    {% elseif datasChartres.forecast[0].weather >= 39 and datasChartres.forecast[0].weather < 49%}
                        <img src="/assets/img/animated/rainy-5.svg" alt="rainy5.svg">
                    {% elseif datasChartres.forecast[0].weather >= 139 and datasChartres.forecast[0].weather < 213%}
                        <img src="/assets/img/animated/rainy-7.svg" alt="rainy7.svg">
                    {% endif %} <br>
                    <small>Température min: {{ datasChartres.forecast[0].tmin }} ° / Température max: {{ datasChartres.forecast[0].tmax }} °</small>
                </div>
                <div class="text-center mt-3">
                    <strong>{{ datasParis.city.name }} </strong><br>
                    {{ datasParis.update|date('d/m/Y') }} <br>
                    {% if  datasParis.forecast[0].weather == 0%}
                        <img src="/assets/img/animated/day.svg" alt="day.svg">
                    {% elseif datasParis.forecast[0].weather > 0 and datasParis.forecast[0].weather < 8%}
                        <img src="/assets/img/animated/cloudy-day-2.svg" alt="day2.svg">
                    {% elseif datasParis.forecast[0].weather >= 8 and datasParis.forecast[0].weather < 16%}
                        <img src="/assets/img/animated/rainy-2.svg" alt="rainy2.svg">
                    {% elseif datasParis.forecast[0].weather >= 16 and datasParis.forecast[0].weather < 32%}
                        <img src="/assets/img/animated/snowy-2.svg" alt="snowy2.svg">
                    {% elseif datasParis.forecast[0].weather >= 39 and datasParis.forecast[0].weather < 49%}
                        <img src="/assets/img/animated/rainy-5.svg" alt="rainy5.svg">
                    {% elseif datasParis.forecast[0].weather >= 139 and datasParis.forecast[0].weather < 213%}
                        <img src="/assets/img/animated/rainy-7.svg" alt="rainy7.svg">
                    {% endif %} <br>
                    <small>Température min: {{ datasParis.forecast[0].tmin }} ° / Température max: {{ datasParis.forecast[0].tmax }} °</small>
                </div>
                <div class="text-center mt-3">
                    <strong>{{ datasLyon.city.name }} </strong><br>
                    {{ datasLyon.update|date('d/m/Y') }} <br>
                    {% if  datasLyon.forecast[0].weather == 0%}
                        <img src="/assets/img/animated/day.svg" alt="day.svg">
                    {% elseif datasLyon.forecast[0].weather > 0 and datasLyon.forecast[0].weather < 8%}
                        <img src="/assets/img/animated/cloudy-day-2.svg" alt="day2.svg">
                    {% elseif datasLyon.forecast[0].weather >= 8 and datasLyon.forecast[0].weather < 16%}
                        <img src="/assets/img/animated/rainy-2.svg" alt="rainy2.svg">
                    {% elseif datasLyon.forecast[0].weather >= 16 and datasLyon.forecast[0].weather < 32%}
                        <img src="/assets/img/animated/snowy-2.svg" alt="snowy2.svg">
                    {% elseif datasLyon.forecast[0].weather >= 39 and datasLyon.forecast[0].weather < 49%}
                        <img src="/assets/img/animated/rainy-5.svg" alt="rainy5.svg">
                    {% elseif datasLyon.forecast[0].weather >= 139 and datasLyon.forecast[0].weather < 213%}
                        <img src="/assets/img/animated/rainy-7.svg" alt="rainy7.svg">
                    {% endif %} <br>
                    <small>Température min: {{ datasLyon.forecast[0].tmin }} ° / Température max: {{ datasLyon.forecast[0].tmax }} °</small>
                </div>
                <div class="text-center mt-3">
                    <strong>{{ datasMarseille.city.name }} </strong><br>
                    {{ datasMarseille.update|date('d/m/Y') }} <br>
                    {% if  datasMarseille.forecast[0].weather == 0%}
                        <img src="/assets/img/animated/day.svg" alt="day.svg">
                    {% elseif datasMarseille.forecast[0].weather > 0 and datasMarseille.forecast[0].weather < 8%}
                        <img src="/assets/img/animated/cloudy-day-2.svg" alt="day2.svg">
                    {% elseif datasMarseille.forecast[0].weather >= 8 and datasMarseille.forecast[0].weather < 16%}
                        <img src="/assets/img/animated/rainy-2.svg" alt="rainy2.svg">
                    {% elseif datasMarseille.forecast[0].weather >= 16 and datasMarseille.forecast[0].weather < 32%}
                        <img src="/assets/img/animated/snowy-2.svg" alt="snowy2.svg">
                    {% elseif datasMarseille.forecast[0].weather >= 39 and datasMarseille.forecast[0].weather < 49%}
                        <img src="/assets/img/animated/rainy-5.svg" alt="rainy5.svg">
                    {% elseif datasMarseille.forecast[0].weather >= 139 and datasMarseille.forecast[0].weather < 213%}
                        <img src="/assets/img/animated/rainy-7.svg" alt="rainy7.svg">
                    {% endif %} <br>
                    <small>Température min: {{ datasMarseille.forecast[0].tmin }} ° / Température max: {{ datasMarseille.forecast[0].tmax }} °</small>
                </div>
            </div>
        </div>
    </div>
<!--############# Robes Selectionnées ###############-->
    <div class="col-12 col-lg-8 mt-4">
        <h3 class="text-center">Notre sélection</h3>
        <div class="row p-4 m-3">
            {% for product in products %}
            <div class="col-12 col-lg-4 text-center">
                <img class="logo_principal" src="/image/{{ product.image }}" alt="{{ product.name }}">
                <p class="mt-2">{{ (product.prix/100)|number_format('2', ',', '.') }} € TTC</p>
                <p style="min-height: 80px">{{ product.description }}</p>
                <a href="{{ path('single_product', {'slug': product.slug}) }}" class="btn btn-info btn-sm mb-2">Voir le produit</a>
            </div>
            {% endfor %}
        </div>

        <h3 class="text-center mt-5">Nos Best-seller</h3>
        <div class="row p-4 mt-3">
            {% for product in productsGreat %}
                <div class="col-12 col-lg-4  text-center">
                    <img class="logo_principal" src="/image/{{ product.image }}" alt="{{ product.name }}">
                    <p class="mt-2">{{ (product.prix/100)|number_format('2', ',', '.') }} € TTC</p>
                    <p style="min-height: 80px">{{ product.description }}</p>
                    <a href="{{ path('single_product', {'slug': product.slug}) }}" class="btn btn-info btn-sm">Voir le produit</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="w-50 m-auto mt-5">
        <hr>
    </div>
</div>

  <div id="add1" class="row container mt-5 text-center m-auto p-3">

      <div class="col-12 col-lg-4">
          <img src="/assets/img/robe-bleu.jpg" alt="robe-bleu" style="max-width: 300px">
      </div>
      <div class="col-12 col-lg-8">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
  </div>
{% endblock %}

{% block script %}
    {# -------   JAVASCRIPT ---------#}
    <script src="{{ asset('assets/js/home.js') }}"> </script>
{% endblock %}

