{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe - Emidress{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info m-auto w-50 text-center">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post" class="w-50 text-center m-auto mt-3 p-3">
        <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>
        <label for="inputEmail">Adresse Email</label>
        <input type="email"  name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

        <button class="btn btn-sm btn-info mt-3 mb-3" type="submit">
            Valider
        </button>
        <br>

        <a href="{{ path('app_register') }}">ou créer un compte?</a>

    </form>
{% endblock %}
