{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Emidress{% endblock %}

{% block body %}
    <div class="container text-center mt-3 w-50">
        <div class="block-small">
            <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon Mot de passe</h1>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form (form) }}
        </div>
    </div>
{% endblock %}