{% extends 'base.html.twig' %}

{% block title %}A propos - Emidress{% endblock %}

{% block body %}
<h1 class="mt-3 text-center"> A propos</h1>
    <div class="container-fluid p-4">
        <p class="mt-3 text-center">
            Emidress est une petite boutique en ligne où vous pouvez acheter votre robe tant recherchée que ce soit pour des soirées d'exceptions ou pour un mariage. Ce site a été conçu par Halit Cinici pour la propriétaire de la boutique d'Emidress
            <br><br>
            Vous pouvez également prendre rendez-vous directement avec nous pour louer une robe pour un seul évènement.
            Pour cela vous pouvez
            <a href="{{ path('app_appointement') }}">cliquer ici</a> <br><br>
            Tous vos remarques nous sont utiles et nous ne sommes pas contre tous type d'améliorations pour satisfaire nos clients, vous pouvez nous contacter
            <a href="{{ path('contact') }}">ici</a>
        </p>
    </div>
{% endblock %}
