* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: italic;
}

.logo_principal {
    height: 220px;
    width: 220px
}

#logo_principal {
    height: 110px;
    width: 110px
}

#connexion_inscription a{
   text-decoration: none;
   color: white;
}

#carouselExampleControls img {
    max-height: 60vh;
}

.img_select {
    margin-left: 57px!important;
}

ul {
    list-style-type: none;
}

#product_title {
    text-transform: uppercase;
    font-size: 15px
}

.product_subtitle {
    font-size: 14px;
}

.product_price {
    font-weight: bold;
    font-size: 15px
}

.account_link {
    text-decoration: none;
}

.col-form-label {
    font-weight: bolder;
}

.form-check, .recap_panier{
    background-color :#f8f6f3;
    opacity: 80%;
    border-radius: 10px;
    margin-top: 10px;
}

#order_addresses{
    padding: 5px;
}


@media screen and  (min-width:1000px) {
    #meteo {
        border-right: 1px solid grey;
    }
}



/*#add1 {
    padding: 100px;
}*/

.perspagination {
    margin-left: 200px;
}

#appointement_card {
    border-radius: 150px;
}