{% extends 'base.html.twig' %}

{% block title %}Nos produits - Emidress{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Nos produits</h1>
   
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-lg-3">
                    {{ form(form) }}
                </div>
                <div class="col-12 col-lg-9">
                    <h3 class="text-center" style="text-decoration:none;">Nos Robes</h3>
                        <div class="row">
                            {% for product in products %}
                                <div class="col-4 p-4">
                                    <a href="{{path('single_product',{'slug': product.slug})}}"><img style="height: 300px; width: 300px" src="/image/{{ product.image }}" class="img-thumbnail" alt="{{product.name}}"></a>
                                    <h5 id="product_title" class="text-center mt-1">{{product.name}}</h5>
                                    <small><p class="text-center mt-1 product_subtitle">{{product.subtitle}}</p></small>
                                    <p class="text-center mt-1 product_price">{{ (product.prix / 100) | number_format(2, ',' , '.')}}€ TTC</p>
                                </div>
                             {% endfor %}
                        </div>
                    <div class="mt-5 perspagination">
                            {{ knp_pagination_render(products,'pagination/index.html.twig')}}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
