{% extends 'base.html.twig' %}

{% block title %}Nos Robes de soirées - Emidress{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Nos robes de soirées</h1>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-4 p-4 text-center">
                            <a href="{{path('single_product',{'slug': product.slug})}}"><img src="/image/{{ product.image }}" class="img-thumbnail" style="max-height: 40vh" alt="{{product.name}}"></a>
                            <h5 id="product_title" class="text-center mt-1">{{product.name}}</h5>
                            <small><p class="text-center mt-1 product_subtitle">{{product.subtitle}}</p></small>
                            <p class="text-center mt-1 product_price">{{ (product.prix / 100) | number_format(2, ',' , '.')}}€ TTC</p>
                            <a href="{{ path('single_product', {'slug' : product.slug}) }}" class="btn btn-info btn-sm">Voir le produit</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
