{% extends 'base.html.twig' %}

{% block title %}{{product.name}} - Emidress{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">{{product.name}}</h1>
        <div class="row p-3 container p-5">
            <div class="col-4">
                <img style="border-radius: 50px" src="/image/{{ product.image }}" alt="{{ product.name}}" class="img-fluid">
            </div>
            <div class="col-8 text-center mt-4">
                <h5>{{ product.name }}</h5>
                <p>{{ product.subtitle}}</p>
                <span class="product_price">{{ (product.prix / 100) | number_format(2, ',' , '.')}} € TTC</span>
                <hr>
                <p>
                    {{ product.description}}
                </p>
                <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-info">Ajouter au panier</a>
            </div>

                {#<h4>Taille :</h4>

                <div>
                    <form action="{{ path('app_cart') }}" method="post">
                    <SELECT name="taille">
                        {% for productSize in product.size %}
                            <OPTION value ="{{ productSize }}">{{ productSize }}</OPTION>
                        {% endfor %}
                    </SELECT>
                        <button></button>
                    </form>
                </div>#}
        </div>


{% endblock %}
