{% extends 'base.html.twig' %}

{% block title %}Inscription - Emidress{% endblock %}

{% block body %}
    <h1 class="text-center mt-3"> Inscription </h1>
    {% if notif %}
        <div class="alert alert-success" role="alert">
            {{ notif }}
        </div>
    {% endif %}
    <div class="container-fluid text-center p-3">
        {{ form(form) }}
    </div>
    <small><p class="text-center">Les champs suivis d'un * sont obligatoires</p></small>
{% endblock %}
