{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous - Emidress{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3 text-center"> Confirmer le rendez-vous</h1>
        <div class="w-50 text-center m-auto mt-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
