{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous - Emidress{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('messageConfirm') %}
            <div class="alert alert-info w-50 m-auto text-center">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-3 text-center"> Prendre un rendez-vous</h1>
        <p class="mt-3 text-center">C'est ici que vous pouvez prendre un rendez-vous afin de faire un essayage pour louer une robe</p>
        <div class="row p-4">
            <div class="col-6">
                <h3 class="text-center mt-3">Nos créneaux disponibles</h3>
                <div class="row mt-3">
                    {% for appointement in appointements %}
                        {% if appointement.user is  null %}
                        <div class="col-6 mt-3">
                            <div id="appointement_card" class="card  text-center" style="width: 15rem;">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>{{ appointement.date|date('d/m/Y') }}</strong></h5>
                                    <p class="card-text">Heure de début: <strong>{{ appointement.startTime }} </strong><br>
                                        Heure de fin: <strong>{{ appointement.endTime }}</strong></p>
                                        <a href="{{ path('app_appointement_confirm', {'id' : appointement.id}) }}" class="btn btn-info btn-sm">Réserver ce créneau</a>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                <h3 class="text-center mt-3">Nos créneaux pourvus</h3>
                <div class="row mt-3">
                    {% for appointement in appointements %}
                        {% if appointement.user is not null %}

                        <div class="col-6 mt-3">
                            <div id="appointement_card" class="card text-bg-secondary text-center" style="width: 15rem;">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>{{ appointement.date|date('d/m/Y') }}</strong></h5>
                                    <p class="card-text">Heure de début: <strong>{{ appointement.startTime }} </strong><br>
                                        Heure de fin: <strong>{{ appointement.endTime }}</strong></p>
                                    {% if (app.user.roles[0] == 'ROLE_ADMIN') %}
                                        <p>{{ appointement.user.firstname}} {{ appointement.user.lastname}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
