{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Emidress{% endblock %}

{% block body %}
    <h2 class="text-center mt-4">Nous contacter</h2>

    <div class="text-center">
        {{ form (contactform)}}
    </div>
    <small><p class="text-center">Les champs suivis d'un * sont obligatoires</p></small>
{% endblock %}
