<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {# -------   BOOTSTRAP ---------#}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        {# -------   CSS perso ---------#}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">


        {% block javascript %}

        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# -------   HEADER ---------#}
        <header class="container-fluid bg-dark">
            <div class="row">
                <div class="col-4 p-2">
                    <a href="{{ path('home')}}">
                        <img id="logo_principal" src="{{ asset ('assets/img/logo_emidress.jpg')}}" alt="logo_emidress">
                    </a>
                </div>
                <div class="col-4">
                    
                </div>
                <div class="col-4">
                    <div class="row d-flex">
                        <div class="col-12">
                            <form class="d-flex mt-3" role="search" method="get" action="{{ path('app_product') }}">
                                <input class="form-control me-2 rounded-pill" type="search" placeholder="Tapez votre recherche" aria-label="Search" name="search">
                                <button class="btn btn-outline-info rounded-pill" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>

                        {% if app.user %}
                            {% if app.user.roles[0] == 'ROLE_USER'%}
                        <div class="col-12 text-center mt-4" id="connexion_inscription">
                            <a href="{{ path('app_account')}}"><i class="fa-solid fa-user"></i> Mon compte <small>({{app.user.firstname}})</small> |</a>
                            <a href="{{ path('app_logout')}}">Deconnexion</a>
                            <a href="{{ path('app_cart') }}">
                                <img class="ms-2" src="{{ asset('assets/img/shopping-cart.png') }}" alt="panier" style="height: 18px;">
                            </a>
                        </div>
                                {% else %}
                                    <div class="col-12 text-center mt-4" id="connexion_inscription">
                                        <a href="{{ path('admin')}}"><i class="fa-solid fa-user"></i> Accéder au Back-Office <small>({{app.user.firstname}})</small> |</a>
                                        <a href="{{ path('app_logout')}}">Deconnexion</a>
                                    </div>
                                {%  endif %}
                        {% else %}
                        <div class="col-12 text-center mt-4" id="connexion_inscription">
                            <a href="{{ path('app_login')}}">Connexion |</a>
                            <a href="{{ path('app_register')}}">Inscription</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        {# -------   NAVBAR ---------#}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_product') }}">Nos robes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_product_night') }}">Robes de soirées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_product_mariage') }}">Robes de mariage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_appointement') }}">Prendre rendez-vous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_apropos') }}">A propos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
        <!-- FOOTER -->
			<footer class="bg-light mt-5 text-center p-3">
				<small>
					<ul>
						<li>
							<a href="#" class="text-dark">Mentions légales</a>
						</li>
						<li>
							<a href="{{ path('contact') }}" class="text-dark">Contact</a>
						</li>
						<li class="text-dark">Réseau social:
							<a href="#" class="mr-1">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="#" class="mr-1">
								<i class="fab fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>Copyright : Emidress</li>
					</ul>
				</small>
			</footer>
        {# -------   BOOTSTRAP ---------#}
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        {# -------   FONTAWESOME ---------#}
        <script src="https://kit.fontawesome.com/37d00bd852.js" crossorigin="anonymous"></script>

    {% block script %}

    {% endblock %}
    </body>
</html>
