{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block content %}
  <div class="container">
    <strong><h1 class="text-center mt-5">Bienvenue dans le Back-Office du site Emidress</h1></strong>
    <p class="text-center">C'est ici que vous pourrez gérer toutes les fonctionnalités de votre site </p>
    <img class="rounded mx-auto d-block mt-5" src="{{ asset ('assets/img/logo_emidress.jpg')}}" alt="logo_principal" style="width: 300px; height: 300px">
    <a href="{{ path('home') }}">Retourner sur le site</a>
  </div>

{% endblock %}
