{% extends 'base.html.twig' %}

{% block title %}Paiement refusé - Emidress{% endblock %}

{% block body %}
    <div class="container text-center mt-3 p-5">
        <h2>Erreur de paiement</h2>
        <p> Bonjour <strong>{{ order.user.firstname}} {{order.user.lastname}}</strong></p><br><br>

        Il semblerait que votre paiement vient d'échoué pour votre commande n°<strong>{{order.reference}}</strong> <br>

        Une confirmation d'erreur vient de vous être envoyée par mail à l'adresse <strong>{{ order.user.email}}</strong>
        <hr>


        <a href="{{ path ('app_order')}}" class='btn btn-info'> Réessayer le paiement</a>
    </div>
{% endblock %}
