{% extends 'base.html.twig' %}

{% block title %}Ma commande - Emidress{% endblock %}

{% block body %}
    <div class="container p-5">
        <h1 class="text-center mt-3">Valider ma commande</h1>
        <p class="text-center mt-3">Veuillez sélectionner vos préférences de commande</p>
        <hr>
        <div class="row">
            <div class="col-6">

                    {% set formHtml %}
                        {{ form_start(form, {action: path('app_order_recap')})  }}
                            {{ form_label(form.addresses, "Choisissez votre adresse de livraison") }}
                            <a href="{{ path('app_address_add') }}">Ajouter une nouvelle adresse</a>
                        {{ form_end(form) }}
                    {% endset %}

                    {{ formHtml|replace({'[br]' : '<br>'})|raw }}

            </div>
            <div class="col-6">
                <h5 class="text-center mt-3">Récapitulatif de votre panier</h5>
                <div class="recap_panier">
                {% for product in cart %}
                    <div class="row mt-3">
                        <div class="col-2 mt-1">
                            <img src="/image/{{ product.product.image }}" alt="{{ product.product.name }}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br>
                            <small>{{ product.product.subtitle }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            x {{ product.quantity }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
