{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande - Emidress{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
    <div class="container p-3">
        <a href="{{ path('app_order') }}"><- retour aux choix de commande</a>
    <h2 class="text-center mt-3"> Mon récapitulatif </h2>
    <p class="text-center mt-3"> Vérifiez vos informations avant de payer votre commande</p>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong> <br>
            <div class="form-check">
                {{ delivery | raw }}
            </div>
            <hr>

            <strong> Mon transporteur</strong>
            <div class="form-check mt-4">
                {{ carrier.name}} <br>
                {{ carrier.description}} <br>
                {{ (carrier.price /100) | number_format(2, ',' , '.')}} €
            </div>
        </div>

        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b><br>

            </div>
            <div>
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                        <div class="col-2">
                            <img src="/image/{{ product.product.image }}" alt="{{ product.product.name }}" height="75px">
                        </div>
                        <div class="col-8 my-auto"> <td>{{ product.product.name }} <br>
                                <small>{{product.product.subtitle}}</small> <br>
                                x {{product.quantity}}
                        </div>
                        <div class="col-2 my-auto">
                            <td>{{((product.product.prix * product.quantity) / 100) | number_format(2, ',' , '.')}} €</td>
                        </div>
                    </div>

                    {% set total = total + (product.product.prix * product.quantity) %}
                {% endfor %}
            </div>

            <hr>

            <strong> Sous-Total :</strong> {{(total / 100) | number_format(2, ',' , '.')}} €<br>
            <strong> Livraison :</strong> {{(carrier.price/ 100) | number_format(2, ',' , '.')}} €
            <hr>
            <strong> Total : </strong> {{((total / 100) + (carrier.price / 100)) | number_format(2, ',' , '.')}} € <br>
            <a class="btn btn-info btn-block mt-3" id="checkout-button">Payer | {{((total / 100) + (carrier.price / 100)) | number_format(2, ',' , '.')}} €</a>
        </div>
    </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">

        var stripe = Stripe("pk_test_51LiLoMDGYOFHKYeptR0Q0aDEZqrAwM1D6hgTLeHH18D1AipfoKAPrLQq344kDiPqzHd7xXilkrRgylNSzhYa7eav00CtJty45d");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}

