{% extends 'base.html.twig' %}

{% block title %}Commande effectué - Emidress{% endblock %}

{% block body %}
        <div class="container text-center mt-3 p-5">
                <h2> Félicitations, votre commande a bien été passée</h2>
                <p> Bonjour <strong>{{ order.user.firstname}} {{order.user.lastname}}</strong></p><br><br>

                Nous vous remercions pour votre commande n°<strong>{{order.reference}}</strong> <br>

                Une confirmation vient de vous être envoyée par mail à l'adresse <strong>{{ order.user.email}}</strong>
                <hr>

                Votre commande sera livrée par {{ order.carrier.name }} à l'adresse suivante : <br>
                {{ order.delivery | raw }}

                <hr>

                Pour suivre votre commande, rendez-vous dans votre <a href="{{ path('app_account_order')}}"> compte </a>
        </div>
{% endblock %}
