{% extends 'base.html.twig' %}

{% block title %}Page introuvable ! - Emidress{% endblock %}
    <div class="container text-center mt-3">
        <h1>Page introuvable</h1>
        <p>Pour retourner à l'accueil de notre site, merci de <a href="{{ path('home') }}">cliquer ici</a></p>
    </div>
{% block body %}
{% endblock %}
